@model Emu.Web.Models.HomeModel

@{
    ViewBag.Title = "Home";
}

<h2>Home Page</h2>

<ul>
    @foreach (var name in Model.Names)
    {
        <li>@name</li>
    }
</ul>

@section Scripts
{
    
}

