@model Emu.Common.NetworkAddress

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>NetworkAddress</legend>

        @Html.HiddenFor( model => model.ID )
        @Html.TextBoxFor(model => model.IP)
        
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
